<p>employee works!</p>
<h2>Lista pracowników</h2>


<table class="table">                          
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">pracownicy</th>
      <th scope="col">email</th>
      <th scope="col">usuń</th>
      <th scope="col">szczegóły</th>
    </tr>
  </thead>
  <tbody>                                                                                    
    <tr *ngFor="let emp of employees; let i = index">
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.email }}</td>
      <td>
        <button (click)="deleteEmployee(emp.id)" type="button" class="btn btn-danger">Usuń</button>
      </td>
      <td>
        <button (click)="viewDetails(emp.id)" type="button" class="btn btn-info">Szczegóły</button>

      </td>
    
    </tr>
  </tbody>
</table>